<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="direccion">
      <h2 data-cy="direccionDetailsHeading"><span jhiTranslate="jhipsterApp.direccion.detail.title">Direccion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ direccion.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.direccion.calle">Calle</span></dt>
        <dd>
          <span>{{ direccion.calle }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.direccion.codigoPostal">Codigo Postal</span></dt>
        <dd>
          <span>{{ direccion.codigoPostal }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.direccion.ciudad">Ciudad</span></dt>
        <dd>
          <span>{{ direccion.ciudad }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.direccion.provincia">Provincia</span></dt>
        <dd>
          <span>{{ direccion.provincia }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.direccion.pais">Pais</span></dt>
        <dd>
          <div *ngIf="direccion.pais">
            <a [routerLink]="['/pais', direccion.pais.id, 'view']">{{ direccion.pais.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/direccion', direccion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
