<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contrato-heading" data-cy="ContratoCreateUpdateHeading" jhiTranslate="jhipsterApp.contrato.home.createOrEditLabel">
        Crear o editar Contrato
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.contrato.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="d-flex">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="datetime-local"
              class="form-control"
              name="fechaInicio"
              formControlName="fechaInicio"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.contrato.fechaFin" for="field_fechaFin">Fecha Fin</label>
          <div class="d-flex">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              type="datetime-local"
              class="form-control"
              name="fechaFin"
              formControlName="fechaFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.contrato.lenguaje" for="field_lenguaje">Lenguaje</label>
          <select class="form-control" name="lenguaje" formControlName="lenguaje" id="field_lenguaje" data-cy="lenguaje">
            <option [ngValue]="null">{{ 'jhipsterApp.Idioma.null' | translate }}</option>
            <option *ngFor="let idioma of idiomaValues" [value]="idioma">{{ 'jhipsterApp.Idioma.' + idioma | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.contrato.trabajo" for="field_trabajo">Trabajo</label>
          <select
            class="form-control"
            id="field_trabajo"
            data-cy="trabajo"
            name="trabajo"
            formControlName="trabajo"
            [compareWith]="compareTrabajo"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="trabajoOption" *ngFor="let trabajoOption of trabajosSharedCollection">{{ trabajoOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.contrato.departamento" for="field_departamento">Departamento</label>
          <select
            class="form-control"
            id="field_departamento"
            data-cy="departamento"
            name="departamento"
            formControlName="departamento"
            [compareWith]="compareDepartamento"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="departamentoOption" *ngFor="let departamentoOption of departamentosSharedCollection">
              {{ departamentoOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.contrato.empleado" for="field_empleado">Empleado</label>
          <select
            class="form-control"
            id="field_empleado"
            data-cy="empleado"
            name="empleado"
            formControlName="empleado"
            [compareWith]="compareEmpleado"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="empleadoOption" *ngFor="let empleadoOption of empleadosSharedCollection">{{ empleadoOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
