<div>
  <h2 id="page-heading" data-cy="TrabajoHeading">
    <span jhiTranslate="jhipsterApp.trabajo.home.title">Trabajos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.trabajo.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trabajo"
        [routerLink]="['/trabajo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.trabajo.home.createLabel"> Crear nuevo Trabajo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trabajos?.length === 0">
    <span jhiTranslate="jhipsterApp.trabajo.home.notFound">Ningún Trabajos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="trabajos && trabajos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tituloTrabajo">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.trabajo.tituloTrabajo">Titulo Trabajo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="salarioMin">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.trabajo.salarioMin">Salario Min</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="salarioMax">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.trabajo.salarioMax">Salario Max</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="empleado.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.trabajo.empleado">Empleado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trabajo of trabajos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trabajo', trabajo.id, 'view']">{{ trabajo.id }}</a>
          </td>
          <td>{{ trabajo.tituloTrabajo }}</td>
          <td>{{ trabajo.salarioMin }}</td>
          <td>{{ trabajo.salarioMax }}</td>
          <td>
            <div *ngIf="trabajo.empleado">
              <a [routerLink]="['/empleado', trabajo.empleado.id, 'view']">{{ trabajo.empleado.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/trabajo', trabajo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/trabajo', trabajo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(trabajo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="trabajos && trabajos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
