<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tarea">
      <h2 data-cy="tareaDetailsHeading"><span jhiTranslate="jhipsterApp.tarea.detail.title">Tarea</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tarea.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.tarea.titulo">Titulo</span></dt>
        <dd>
          <span>{{ tarea.titulo }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.tarea.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ tarea.descripcion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/tarea', tarea.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
