<div>
  <h2 id="page-heading" data-cy="DepartamentoHeading">
    <span jhiTranslate="jhipsterApp.departamento.home.title">Departamentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.departamento.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-departamento"
        [routerLink]="['/departamento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.departamento.home.createLabel"> Crear nuevo Departamento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="departamentos?.length === 0">
    <span jhiTranslate="jhipsterApp.departamento.home.notFound">Ningún Departamentos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="departamentos && departamentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreDepartamento">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.departamento.nombreDepartamento">Nombre Departamento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="direccion.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterApp.departamento.direccion">Direccion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departamento of departamentos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/departamento', departamento.id, 'view']">{{ departamento.id }}</a>
          </td>
          <td>{{ departamento.nombreDepartamento }}</td>
          <td>
            <div *ngIf="departamento.direccion">
              <a [routerLink]="['/direccion', departamento.direccion.id, 'view']">{{ departamento.direccion.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/departamento', departamento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/departamento', departamento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(departamento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
